@import '../App.css';

.iconContainer{
    cursor: pointer;
}

.secondaryNav {
    padding: var(--container-sm);
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: var(--dark-bg);
    border-bottom: 1px solid var(--grey-bg);
    border-left: 1px solid var(--grey-bg);
    border-right: 1px solid var(--grey-bg);
    flex: 1;
    max-height: 50px;
    display: flex;
    align-items: center;

    .checkDropdown {
        display: flex;
        align-items: center;

    }

    .dropdownContainer {
        position: relative;

        .iconContainer {
            height: 20px;
            width: 20px;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                width: 100%;
                object-fit: cover;
            }
        }
    }

    .redoContainer {
        .iconContainer {
            height: 30px;
            width: 30px;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                width: 100%;
                object-fit: cover;
            }
        }
    }

    .moreOptions {
        .iconContainer {
            height: 30px;
            width: 30px;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 100%;
                object-fit: cover;
            }
        }
    }

    .emailCount {
        display: flex;
        align-items: center;
        margin-left: auto;

        .emailNum {
            color: var(--light-grey-bg);
            font-family: var(--ft-roboto);
            font-size: 12px;
        }

        .prevToNext {
            display: flex;
            align-items: center;

            .iconContainer {
                height: 25px;
                width: 25px;
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    width: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}