@import './reset.css';

:root {
  --dark-bg: #111111;
  --grey-bg: #303030;
  --active-bg: #595959;
  --light-grey-bg: #D7D7D7;
  --white-bg: #fff;
  --ft-roboto: 'Roboto', sans-serif;
  --fw-rg: 300;
  --fw-md: 400;
  --fw-bd: 500;
  --container-sm: 0 1.15rem;
  --container-md: 0 1.5rem;
  --container-lg: 0 2rem;
}

.main-container {
  display: flex;
  position: relative;
  height: calc(100vh - 75px);
}

.inner-container{
  flex: 1;
}

.checkbox-container {
  display: block;
  position: relative;
  user-select: none;
  cursor: pointer;
  height: 18px;
  width: 18px;
}

.checkbox-container input[type="checkbox"] {
  height: 0;
  width: 0;
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkbox-container .checkmark {
  position: absolute;
  height: 100%;
  width: 100%;
  border: 3px solid var(--grey-bg);
  border-radius: 2px;
}

.checkbox-container .checkmark:after {
  content: '';
  position: absolute;
  height: 12px;
  width: 6px;
  border: solid var(--grey-bg);
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
  left: 3px;
  bottom: 2px;
  display: none;
}

.checkbox-container:hover input[type="checkbox"]~.checkmark {
  border-color: var(--light-grey-bg);
}

.checkbox-container input[type="checkbox"]:checked~.checkmark {
  background-color: var(--light-grey-bg);
  border-color: var(--light-grey-bg);
}

.checkbox-container input[type="checkbox"]:checked~.checkmark:after {
  display: block;
}

